
# Python
__pycache__/

# LaTeX intermediate files
*.out
*.log
*.fls
*.fdb_latexmk
*.aux
*.toc
*.synctex.gz

*.tex

# Other files
readme.txt

# IDEs files
.vscode/

# Rapport files
notebooks/bg.jpg
notebooks/title_page.pdf
notebooks/UdeS_logo.png
